.wrapper {
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 10px;
}

.orange {
   background: var(--yellow);
}

.yellow {
    background: var(--pale-yellow);
}

.blue {
    background: var(--light-blue);
}
