.button {
    display:flex;
    align-items: center;
    justify-content: center;
    color: var(--palette-blue-4);
    background-color: var(--yellow);
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        filter: sepia(60%);
    }

    &:active {
        filter: saturate(50%);
    }

    &:disabled {
        cursor: no-drop;
        filter: grayscale(120%);
    }
}

.auth {
    width: 248px;
    height: 45px;
    color: var(--palette-blue-3);
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    border-radius: 15px;
}

.dish {
    width: 100px;
    height: 24px;
    font-weight: 600;
    font-size: 8px;
    border-radius: 0 15px;
}

.banner {
    width: 90px;
    height: 23px;
    font-weight: 700;
    font-size: 9px;
    border-radius: 20px;
}

.white {
    width: 80px;
    height: 30px;
    color: var(--palette-text-home);
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    background: none;
    border: 1.5px solid var(--palette-grey-2);
    border-radius: 10px;
}

.details {
    width: 111px;
    height: 40px;
    font-weight: 700;
    font-size: 11px;
    border-radius: 20px;
}

.count {
    width: 30px;
    height: 30px;
    background: var(--yellow);
    border-radius: 50%;
}

.phone {
    width: 45px;
    height: 45px;
    padding: 12px;
    border-radius: 15px;
}
