.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .label {
        color: var(--palette-h4);
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
    }

    .input {
        width: 100%;
        padding-bottom: 9px;
        color: var(--palette-p);
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--palette-input);
        outline: none;

        &:invalid {
            border-bottom: 1px solid var(--red);
        }
    }

    .icon {
        position: absolute;
        top: 45%;
        left: 90%;
        width: 26px;
        height: 24px;
        fill: var(--palette-icon);
    }
}
