.wrapper {
    .main {
        height: 93.5vh;
        padding: 29px 29px 0 24px;

        .title {
            color: var(--palette-text-home);
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            text-align: left;
        }

        .items {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            max-height: 93.5vh;
            margin-top: 44px;
            overflow-y: auto;
            row-gap: 25px;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}
