.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 464px;
    padding: 30px 20px;

    .inputs {
        display: flex;
        flex-direction: column;
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 10px;

        button:last-child {
            background-color: var(--red);
        }
    }
}
