.chips {
    min-width: 90px;
    height: 30px;
    color: var(--palette-text-home);
    font-weight: 600;
    font-size: 10px;
    line-height: 30px;
    background: var(--palette-background-item);
    border-radius: 20px;
    cursor: pointer;
}

.active {
    color: var( --palette-blue-4);
    background: var(--yellow);
}
