.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 129px;
    height: 40px;
    padding: 5px;
    background: rgb(253 194 122 / 10%);
    border-radius: 20px;
}
