:root {
    //simple colors
    --white: #FFF;
    --black: #000;
    --red: #FF6347;
    --yellow: #FDC27A;
    --light-yellow: #FFE3C0;
    --pale-yellow: #FFF9DD;
    --light-blue: #E0DEE3;
    --pale-blue: #DBF2F8;
    --green: #99C932;

    //blue colors
    --palette-blue-1: #232033;
    --palette-blue-2: #26273B;
    --palette-blue-3: #2B2D33;
    --palette-blue-4: #104E5B;

    // grey colors
    --palette-gray-0: #2F3045;
    --palette-grey-1: #2B2D33;
    --palette-grey-2: #616F80;
    --palette-grey-3: #A09FA3;
    --palette-grey-4: #C9CACA;
    --palette-grey-5: #D1D1D1;
    --palette-grey-6: #F2F6F7;
    --palette-grey-7: #F2F2F2;
    --palette-grey-8: #BEBEBE;
    --palette-grey-9: #B5B5B5;
    --palette-grey-10: #9C9C9C;
}
