:root[app-theme='dark'] {

    --palette-yellow: var(--yellow);
    --palette-green: var(--green);
    --palette-red: var(--red);


    --palette-background-main: var(--palette-blue-1);
    --palette-background-item: var(--palette-blue-2);

    /* login and signup */
    --palette-h1: var(--palette-grey-6);
    --palette-h2: var(--yellow);
    --palette-h3: var(--palette-grey-3);
    --palette-h4: var(--palette-grey-4);
    --palette-p: var(--palette-grey-6);
    --palette-icon: var(--palette-grey-3);
    --palette-input: var( --palette-gray-0);


    /* home and favorite */
    --patette-h1-home: var(--yellow);
    --palette-text-home: var(--palette-grey-5);
    --patette-background-btn: var(--palette-gray-0);
    --palette-icon-home: var(--palette-grey-7);
    --palette-icon-close: var( --pale-blue);
}
