:root[theme='light'] {

    --palette-yellow: var(--yellow);
    --palette-green: var(--green);
    --palette-red: var(--red);


    --palette-background-main: var(--palette-grey-6);
    --palette-background-item: var(--white);

    /* login and signup */
    --palette-h1: var( --palette-blue-4);
    --palette-h2: var( --palette-blue-3);
    --palette-h3: var(--palette-grey-2);
    --palette-h4: var(--palette-grey-2);
    --palette-p: var(--palette-blue-4);
    --palette-icon: var(--palette-grey-4);
    --palette-input: var(--palette-blue-4);

    /* home and favorite */
    --palette-h1-home: var(--palette-blue-4);
    --palette-text-home: var(--palette-blue-4);
    --patette-background-btn: var(--palette-grey-6);
    --palette-icon-home: var(--palette-blue-4);
    --palette-icon-close: var(--palette-blue-4);
    --palette-tab-profile: var(--black);
}
