@use './darkTheme';
@use './lightTheme';
@import './allColors';
@import './reset';

body {
    font-family: Poppins, sans-serif;
    font-style: normal;
    background-color: var( --palette-background-main);
}
